---
import CallingCard from '../CallingCard.astro';
---

<CallingCard title="~/gallery">
  <div class="command-line">
    <span class="blue">$</span> 
    <span class="command">cat ascii-art.txt</span>
  </div>
  <div class="output ascii-art">
    <pre>
   _____          _ _               
  / ____|        | | |              
 | |  __  __ _ ||__ |__ _ _ __ _   _ 
 | | |_ |/ _` || __| __| | '__| | | |
 | |__| | (_| || |_| |_| | |  | |_| |
  \_____|\__,_|\__|\__|_|_|   \__, |
                                __/ |
                               |___/ 
    </pre>
  </div>
  
  <div class="command-line">
    <span class="blue">$</span> 
    <span class="command">echo "Scroll up to return!"</span>
  </div>
</CallingCard>

<style>
  .ascii-art {
    font-family: monospace;
    white-space: pre;
    text-align: center;
    margin: 2rem 0;
  }

  pre {
    margin: 0;
    overflow-x: auto;
  }
</style>