---
import CallingCard from '../CallingCard.astro';
---

<CallingCard title="~/projects">
  <div class="command-line">
    <span class="blue">$</span> 
    <span class="command">ls -la projects/</span>
  </div>
  <div class="output">
    <div class="project-entry">
      <span class="blue">drwxr-xr-x</span>  2 user user  4.0K Nov 15 21:30 <a href="#" class="link">portfolio-site</a>
    </div>
    <div class="project-entry">
      <span class="blue">drwxr-xr-x</span>  2 user user  4.0K Nov 14 19:45 <a href="#" class="link">ascii-animations</a>
    </div>
    <div class="project-entry">
      <span class="blue">drwxr-xr-x</span>  2 user user  4.0K Nov 13 15:20 <a href="#" class="link">terminal-emulator</a>
    </div>
  </div>

  <div class="command-line">
    <span class="blue">$</span> 
    <span class="command">echo "Scroll up to gallery"</span>
  </div>
</CallingCard>

<style>
  .project-entry {
    margin: 0.5rem 0;
    font-family: monospace;
  }

  .link {
    color: #268bd2;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }
</style>