---
import CallingCard from '../CallingCard.astro';
import WebVMTerminal from '../WebVMTerminal.astro';
---

<CallingCard title="~/shell" className="shell-card">
  <div class="shell-wrapper">
    <WebVMTerminal />
  </div>
</CallingCard>

<style>
  :global(.shell-card .card-content) {
    padding: 0 !important;
  }

  .shell-wrapper {
    height: 400px;
    margin: 0;
  }
</style>
