---
import Layout from '../layouts/Layout.astro';
import LoadingScreen from '../components/LoadingScreen.astro';
import ContextManager from '../components/ContextManager.astro';
import CallingCard from '../components/CallingCard.astro';
---

<Layout title="noahzoarski.net">
  <LoadingScreen />
  <ContextManager>
    <main>
      <CallingCard title="~/about-me">
        <div class="command-line">
          <span class="blue">$</span> 
          <span class="command">whoami</span>
        </div>
        <div class="output">
          Noah Zoarski <br>
          Programmer | Teaching Assistant | Cybersecurity Enthusiast 
        </div>
        
        <div class="command-line">
          <span class="blue">$</span> 
          <span class="command">cat contact.txt</span>
        </div>
        <div class="output">
          <a href="https://github.com/ofnu" target="_blank" class="link">github.com/ofnu 🔗</a> <br>
          <a href="https://linkedin.com/in/noah-zoarski" target="_blank" class="link">linkedin.com/in/noah-zoarski 🔗</a> <br>
        </div>
      </CallingCard>
    </main>
  </ContextManager>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    background-color: #121314;
    color: white;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  .link {
    color: #268bd2;
    text-decoration: none;
  }

  .link:hover {
    text-decoration: underline;
  }
</style>