---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="connect-src 'self' ipapi.co;">
    <meta name="color-scheme" content="dark">
    <meta name="darkreader-lock">
    <title>{title}</title>

    <!-- Basic Open Graph -->
    <meta property="og:title" content="noahzoarski.net" />
    <meta property="og:description" content="Noah Zoarski's Personal Site"/>
    <meta property="og:image" content="https://noahzoarski.net/thumbnail.png" />
    <meta property="og:url" content="https://noahzoarski.net" />
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image" content="https://noahzoarski.net/thumbnail.png" />
    
    <!-- Dark Reader Override Script -->
    <script>
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-force-dark', '');
      }
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    font-family: var(--font-mono);
  }
  
  html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(18, 19, 20);
  }
</style>